 body{background:#FAFAF7;color:#447373;}
 .mui-bar{background: #BC5B4A;}
 .mui-content{background:#FAFAF7}
 .mui-table-view{background: transparent;}
 .mui-icon,.mui-tab-label,.mui-title{color:#FAFAFA;} 
 .mui-icon-more{-webkit-transform:rotate(90deg)}}
